<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>{{ title }} - GRAB</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>{{ title }}</h1>
        {% for post in posts %}
        <article>{{ post | safe }}</article>
        {% endfor %}
        <article>
            <div class="item">
                <form action="/api/d/post" method="post">
                    <input name="did" type="text" value="{{ did }}" hidden>
                    <textarea name="post" type="text" placeholder="先总结，再讨论" class="fill-width"></textarea>
                    <button type="submit">发布</button>
                </form>
            </div>
            <div class="item">
                <form action="/api/d/llm_post" method="post">
                    <input name="did" type="text" value="{{ did }}" hidden>
                    <button type="submit">请求回复</button>
                </form>
            </div>
        </article>
        <script src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js"></script>
        <script src="/static/render-math.js"></script>
        <script src="/static/tags.js"></script>
    </body>
</html>
