<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>首页 - GRAB</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>首页</h1>
        <article>
            <div class="item">目标网站：<a href="{{ base_url }}">{{ base_url }}</a></div>
            <div class="item">用户名：{{ username }}</div>
            <div class="item">模型：{{ model }}</div>
        </article>
        <article>
            <div class="item"><a href="/p">题目列表</a></div>
            <div class="item"><a href="/d">讨论列表</a></div>
            <div class="item"><a href="/p/rand">随机跳题</a></div>
        </article>
    </body>
</html>
